.container-body {
    border-radius: 20px;
}
.label-default {
    color: rgb(13, 13, 216);
}
.label-success {
    color: brown;
}
.label-info {
    color: olivedrab;
}
.label-danger {
    color: rgb(88, 52, 10);
}
.label-primary {
    color: rgb(65, 109, 54);
}